@import url("reset.css");

::-webkit-scrollbar-track-piece{background-color:#221f1d;}
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-thumb{background:#7e756e;}

html,body{ font-family: Arial, Helvetica, sans-serif; background-color: #000; font-size: 15px;}

/*  儲值  */
.stored_value_warpper{ width:765px; height:650px; margin:20px auto; color:#FFF; font-size:13px; background:url(../images/sv_bg.png);}
.stva_header{ height:60px;}
.stva_header_left{ float:left; width:500px; height:42px; line-height:42px; font-size:20px; font-family:"微軟正黑體"; font-weight:bold; margin:10px 0 0 40px;
 text-shadow:0px 0px 2px #523b15,
             0px 0px 10px #000; background:url(../images/stored_v_img.png)-350px -710px; padding-left:35px;}
.stva_header_btn{ float:left; width:105px; height:30px; text-align:center; margin:16px 0 0 20px;}
.stva_header_btn a{ width:100px; height:28px; line-height:28px; color:#26211e; text-align:center; text-decoration:none; display:block;}
.stva_header_btn a:hover{ margin:1px 0 0 1px;}
.stva_header_right{ width:32px; height:32px; margin:18px 20px 0 0; float:right;}
.stva_header_right a{ width:32px; height:32px; background:url(../images/stored_v_img.png)-780px top; display:block;}
.stva_content{ height:580px;}
.stva_page_tab{ width:690px; margin:0 auto; font-family:"微軟正黑體"; display:block;}
.stored_contbox3_top{ width:650px; line-height:45px; color:#FFF; margin-top:10px; padding:10px 20px; font-family:"微軟正黑體"; position:relative; filter:inherit;}
.stva_header_btnt,.stva_header_btnt2{ height:30px; text-align:center; top:20px; right:155px; display:block; position:absolute;}
.stva_header_btnt2{ right:15px !important;}
a.stvab01{ height:28px; line-height:28px; padding:0 10px; color:#26211e; text-align:center; text-decoration:none; display:block;}
a.stvab01:hover{ margin:1px 0 0 1px;}
.stva_header_btn2w{ float:left; width:75px; height:30px; text-align:center; margin:17px 0 0 95px;}
.stva_header_btn2w a{ width:70px; height:28px; line-height:28px; color:#26211e; text-align:center; text-decoration:none; display:block;}
.stva_header_btn2w a:hover{ margin:1px 0 0 1px;}
.stored_contbox1{ width:690px; padding:10px 0; margin-top:10px; border-radius:10px; background:#4e463f;}
.stva_txt{ padding-left:20px; font-size:16px; line-height:28px; text-shadow:2px 2px 5px #000;}
.stva_txt img{ margin-left:10px; vertical-align:middle;}
.stva_laboimg{ width:679px; height:95px; background:url(../images/stored_v_img.png); margin:5px auto 0 auto;}
.stva_labobg{ width:663px; height:80px; background:url(../images/stored_v_img.png) -260px -507px; margin:7px auto; display:block; position:relative; filter:inherit;}
.labobox_colorbar{ width:663px; height:16px; top:47px; position:absolute; z-index:1px;}
.labobox{ width:643px; height:80px; left:20px; position:absolute; z-index:2px;}
.labobox ul{ width:643px; height:80px; margin-top:12px; display:block;}
.labobox ul li.labobox_box{ width:88px; height:80px; display:block; float:left;}
.labobox .labobox_box .labobox_txt1{ width:88px; height:20px;}
.labobox .labobox_box .labobox_txt2{ width:88px; height:18px; line-height:18px; margin-top:16px; color:#837e7a;}
.col_y1{ color:#ffea00;}.col_x1{ color:#999;}.txt13{ font-size:13px;}.bold{ font-weight:bold;}
.stored_contbox2{ width:678px; padding:10px 5px; background:#120f0c; border-radius:6px; border:solid 1px #343029; margin-top:10px;}
.stored_contbox4{ margin-top:10px;}
.stva_explain{ height:330px; padding:0 10px; overflow-x:hidden;}
.stva_explain h3{ color:#FFF; line-height:30px; margin:0; font-weight:normal; display:block;}
.stva_explain p{ color:#707070; font-size:12px; line-height:20px; display:block; margin:8px 0;}
.money_bg{ width:170px; height:30px; line-height:26px; background:url(../images/stored_v_img.png) 0 -100px; float:right; margin-left:10px; display:block;}
.money_bg span.money_txt{ width:52px; text-align:center; float:left;}.money_bg span.money_txt img{ vertical-align:middle; margin:-2px 2px 0 2px;}
.money_bg span.money_digit{ width:110px; text-indent:5px; padding-left:2px; float:left;}
.stva_options{ display:block;}
.stva_options a{ width:690px; height:130px; color:#FFF; text-decoration:none; background:url(../images/stored_v_img.png) 0 -130px; display:block;}
.stva_options a:hover{ background-position: 0 -260px;}
.opt_img01,.opt_img02{ width:130px; height:110px; background:url(../images/stored_v_img.png) no-repeat; float:left;}
.opt_img01{ background-position:0 -520px;}
.opt_img02{ background-position:-125px -520px;}
.opt_txt1,.opt_txt2{ width:400px; padding-left:10px; float:left;}
.opt_txt1{ line-height:30px; font-size:16px; padding-top:28px;}
.opt_txt2{ line-height:20px; color:#7d7d7d; padding-top:5px; font-family:"新細明體";}
.sweet_inpo,.sweet_inpo2,.sweet_inpo3{ color:#c9bea3; line-height:22px; padding:10px 20px; border:solid 1px #37312d; border-radius:8px; background:#25201d; margin:0 auto; font-family:"新細明體";}
.sweet_inpo{ width:650px; height:90px;}
.sweet_inpo2{ width:446px; height:20px;}
.sweet_inpo3{ width:650px; height:70px;}
.sweet_inpo a,.sweet_inpo2 a,.sweet_inpo3 a{ text-decoration:none;}
.sweet_inpo a:hover,.sweet_inpo2 a:hover,.sweet_inpo3 a:hover{ text-decoration:underline;}

.stva_headguide{ height:34px; text-indent:15px; font-size:15px; color:#8e8e8e; background:url(../images/stored_v_img.png) 0 -671px; display:block;}
.stva_headguide span{ font-size:16px; color:#FFF; font-weight:bold;}
.stva_headguide img{ vertical-align:middle;}
.stored_contbox5{ height:33px; line-height:33px; margin-top:5px;}
.stva_coin{ width:180px; height:65px; padding:0 2px; display:block;}
.stva_news{ width:689px; height:27px; display:block; box-shadow:inset 0px 0px 5px #000; padding-top:1px; margin-top:1px; font-family:Verdana, sans-serif; float:left;}
.stva_news .news_f1{ width:90px; line-height:25px; border-radius:7px 0px 0px 7px; color:#FFF; font-weight:bold; text-align:right; background:rgba(115,95,45,0.5); float:left; padding-right:3px; margin-right:3px; font-weight:bold;}
.stva_news .news_f2{ width:440px; line-height:25px; overflow:hidden; float:left;}
.news_f2 a{ color:#ffd800; text-decoration:none;}.news_f2 a:hover{ color:#FFF; text-decoration:underline;}
.stva_news .news_f3{ width:145px; line-height:26px; font-size:11px; padding-left:5px; font-family:Arial; color:#FFF; float:left;}
.f_left_coin{ width:160px; height:33px; margin:5px auto;}
.stored_contbox6{ width:678px; height:450px; padding:10px 0 0 10px; background:url(../images/stored_v_img_bg.png); border-radius:6px; border:solid 1px #36312e; margin-top:5px; font-family:Verdana, sans-serif;}
.stva_contleft{ width:190px; height:450px; float:left;}
.stva_contright{ width:487px; height:450px; float:left; border-radius:0px 0px 6px 0px;}
.stcoin_img{ width:180px; height:138px; padding-top:12px; background:url(../images/stored_v_img.png) 0 -710px;}.stcoin_img img{ margin:0 auto; border-radius:5px; display:block;}
.stcoin_txt_top{ width:180px; height:34px; font-size:15px; line-height:32px; text-align:center; color:#827f7d; font-weight:bold; background:url(../images/stored_v_img.png) 0 -671px; margin-top:20px;}
.stcoin_txt{ width:170px; height:80px; line-height:20px; color:#827f7d; padding:10px 0 0 10px;}

/* 購買金額 */
.buycoin_box1,.buycoin_box2,.buycoin_box3{ height:90px; margin-top:5px; float:left;}
.buycoin_box1{ width:100px;}.buycoin_box1 img{ width:90px; height:auto; margin: 10px auto; display:block;}
.buycoin_box2{ width:233px; height:80px !important; padding-top:10px;}
span.cotxt01,span.cotxt02,span.cotxt03{ float:left; font-weight:bold; display:block;}
span.cotxt01{ width:108px; font-size:16px; color:#fbf2ad; letter-spacing:-1px; padding-top:10px; line-height:30px;}
span.cotxt02{ width:125px; font-size:19px; color:#ff0000; letter-spacing:-1px; padding-top:8px; line-height:32px;}
span.cotxt03{ width:220px; color:#ffd800; font-family:Verdana, sans-serif; font-weight:normal;}
.buycoin_box3{ width:140px; padding-top:5px;}
.buycoin_box3 .buycoin_btt{ width:117px; height:67px; margin-left:12px; display:block;}
.buycoin_box3 .buycoin_btt a{ width:115px; height:65px; color:#FFF; text-align:center; text-decoration:none; background:url(../images/stored_v_img.png)-208px -711px; display:block;}
.buycoin_box3 .buycoin_btt a:hover{ margin:1px 0 0 1px;}
.buycoin_box3 .buycoin_btt a span.cotxt04{ width:100px; height:20px; line-height:20px; font-weight:bold; text-align:center; margin-left:5px; color:#ff0000; overflow:hidden; font-family:Verdana, sans-serif; padding-top:7px; display:block;}
.buycoin_box3 .buycoin_btt a span.cotxt05{ width:100px; height:20px; line-height:20px; font-weight:bold; text-align:center; margin-left:5px; font-size:16px; color:#FFF; overflow:hidden; padding-top:5px; display:block;}
div.cotxt06{ width:140px; line-height:14px; font-size:12px; text-align:center; color:#c5b9b2; display:block;}

.stored_contbox7{ width:678px; height:400px; padding:10px 0 0 10px; background:url(../images/stored_v_img_bg.png); border-radius:6px; border:solid 1px #36312e; margin-top:5px; font-family:Verdana, sans-serif;}
.stored_contbox8{ height:45px; margin-top:5px;}
.stva_contleft2{ width:190px; height:400px; float:left;}
.stva_contright2{ width:487px; height:390px; float:left; padding-top:10px; border-radius:6px; background:#080605;}
.stva_coin_tato1{ width:196px; height:33px; line-height:30px; padding:0 2px; display:block; float:left; font-size:16px; font-weight:bold; text-shadow:1px 1px 3px #000;}
.stva_coin_tato2{ width:480px; height:33px; line-height:33px; padding:0 2px; display:block; float:left; font-family:"新細明體";}
.pd3 { width:476px; height:380px; padding-right:1px; margin:0 auto; overflow-x:hidden; display:block;}
.pd3 table{ width:100%; margin-bottom:6px;}
.pd3 table tr td{ padding:3px 8px; font-size:12px; line-height:20px; color:#d5b9a6; background:#201c1a; border:solid 1px #080605;}
.pd3 table tr td.caofe{ color:#FFF; font-size:14px; line-height:22px; font-weight:bold; font-family:"微軟正黑體"; background:#3b312c; border-top:solid 1px #554c48;}
.pd3 table tr td.caoyy{ color:#fbf2ad; font-weight:bold; font-size:13px; font-family:"微軟正黑體";}
.stva_header_btn3{ float:left; width:75px; height:30px; text-align:center; margin:16px 0 0 50px;}
.stva_header_btn3 a{ width:70px; height:28px; line-height:28px; color:#26211e; text-align:center; text-decoration:none; display:block;}
.stva_header_btn3 a:hover{ margin:1px 0 0 1px;}
.stva_header_btnci1,.stva_header_btnci,.stva_header_btnci2{ float:left; width:105px; height:30px; text-align:center; margin:16px 0 0 240px;}
.stva_header_btnci{ margin-left:300px !important;}.stva_header_btnci2{ margin-left:40px !important;}
.stva_header_btnci1 a,.stva_header_btnci a,.stva_header_btnci2 a{ width:100px; height:28px; line-height:28px; color:#26211e; text-align:center; text-decoration:none; display:block;}
.stva_header_btnci1 a:hover,.stva_header_btnci a:hover,.stva_header_btnci2 a:hover{ margin:1px 0 0 1px;}

.stored_contbox9{ width:500px; height:180px; margin:25px auto; background:#3f332e; border-radius:10px; box-shadow:inset 0px 0px 30px #372d28,2px 2px 10px #1b1816;}
.stva_buyconfirm,.stva_buyconfirm2,.stva_buyconfirm3,.stva_buyconfirm4{ height:34px; font-size:18px; padding-top:60px; color:#FFF; text-align:center; font-weight:bold; display:block;}
.stva_buyconfirm{ font-size:16px;}
.stva_buyconfirm2{ font-size:14px; padding-top:30px !important;}
.stva_buyconfirm3{ font-size:13px; padding-top:20px !important; color:#fbf2ad !important;}
.stva_buyconfirm4{ font-size:16px; padding-top:0px !important;}

.stored_contbox10{ width:490px; height:380px; padding:10px 0; margin:0 auto; background:#0c0a09; border-radius:10px;}
.buyconfirm_icon{ width:28px; height:30px; margin:0 5px 0 275px; background:url(../images/stored_v_img.png)-817px 0; float:left; display:block;}
.buyconfirm_txt{ height:30px; float:left; display:block;}


.ci{ text-align:center; margin:0 auto;}
.both{ clear:both;}
.f_left{ float:left;}
.hi_top20{ margin-top:20px;}.hi_top30{ margin-top:30px;}
.us{ text-decoration: line-through;}

/*  search list  */
.stva_search_bar{ width:650px; height:45px; line-height:45px; color:#FFF; margin:10px auto; padding:0 20px; font-family:"新細明體"; position:relative; filter:inherit;}
.stva_search_bar select{ width:100px; height:26px; color:#FFF; margin-right:3px; border:solid 1px #37312d; padding:2px; background:#7e756e; border-radius:4px;}
.stva_search_bar option{ color:#FFF;}
.stored_contbox4 .stva_search_bar input{ width:80px; height:24px; line-height:24px; color:#FFF; border:solid 1px #37312d; border-right:none; padding:0 2px 1px 2px; background:#7e756e; border-radius:4px;}
.stvasch_btn { width:24px; height:24px; float:right; margin:10px 88px 0 0; display:inline-block; position: absolute;}
.stvasch_btn a{ width:24px; height:24px; background-color:#c3bab4; background:url(../images/stored_v_img.png)-854px -3px; border-radius:0 3px 3px 0; border:solid 1px #37312d; display:block; border-left:none; clear: left;}
.stvasch_btn a:hover{ background-position:-853px -2px;}
.stva_search_bar .stva_search_btnt{ width:70px; height:30px; right:15px; top:7px; display:block; position:absolute;}
.stva_search_btnt a{ width:70px; height:28px; line-height:28px; color:#26211e; text-align:center; text-decoration:none; display:block;}
.stva_search_btnt a:hover{ margin:1px 0 0 1px;}
.pd4 { height:320px; overflow-x:hidden; display:block;}
.pd4 table{ width:100%; margin-bottom:6px;}
.pd4 table tr td{ padding:3px; font-size:12px; line-height:20px; text-align:center; color:#d5b9a6; font-family:Arial; background:#201c1a; border:solid 1px #080605;}
.pd4 table tr td.caofe{ color:#FFF; font-size:14px; line-height:22px; font-weight:bold; font-family:"微軟正黑體"; background:#3b312c; border-top:solid 1px #554c48;}
.pd4 table tr td.caoyy{ color:#fbf2ad; font-weight:bold; font-size:13px; font-family:"微軟正黑體";}
.pd4 table tr td a{ color:#fbf2ad;}
.pd4 table tr.shut td{ color:#545454 !important; background:#262626 !important;}
.bar{ height:5px; background:url(../images/stored_v_img.png)0 -698px; margin:2px auto;}
.allcion{ height:18px; line-height:18px; font-size:15px; padding:3px 15px 0 0; text-align:right;}


/* 金額選項 */
.stvacoin-carousel {
	width: 160px;
	height: 33px;
	font-size:15px;
	background:#0e090a;
	border-radius:25px;
	position: relative;
}
.stvacoin-carousel * { margin: 0; padding: 0;}
.stvacoin-carousel ul, .stvacoin-carousel li { list-style: none;}
.stvacoin-carousel .page { position: absolute; top: 0px; right: 15px;}
.stvacoin-carousel .btnt_stva { position: absolute; top: 0px; height: 27px; width: 143px; left: 5px; border:none !important;}
.stvacoin-carousel .btnt_stva a { width: 12px; height: 27px; float: left; text-indent: -9999px;}
.stvacoin-carousel .btnt_stva a.prev { float:left;  background:url(../images/stored_v_img.png) no-repeat -730px 7px;}
.stvacoin-carousel .btnt_stva a.next { float:right; background:url(../images/stored_v_img.png) no-repeat -746px 7px;}
.stvacoin-carousel .frame_rank {
	position: relative;
	overflow: hidden;
	width: 115px;	/* (li 的寬度 + li 的邊框寬度 * 2 ) * 一次要顯示的數量 + li 的右邊界 * (一次要顯示的數量 - 1) */
	height: 33px;
	line-height:30px !important;
	text-align:center;
	letter-spacing:2px;
	color:#FFF;
	left: 22px;
}
.stvacoin-carousel ul { width: 99999px; position: absolute;}
.stvacoin-carousel li {
	float: left;
	width: 115px;
	height: 33px;
	line-height:30px !important;
	position: relative;	
}
.stvacoin-carousel li a{ color:#FFF; text-decoration:none;}
.stvacoin-carousel li img{ vertical-align:middle; margin:1px 2px 0 0;}

/* buttons */
.colorYellow {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #fbf6eb;
	background: -moz-linear-gradient(top, #fbf6eb 0%, #ddcead 32%, #ddcead 71%, #f8f3e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf6eb), color-stop(32%, #ddcead), color-stop(71%, #ddcead), color-stop(100%, #f8f3e7));
	background: -webkit-linear-gradient(top, #fbf6eb 0%, #ddcead 32%, #ddcead 71%, #f8f3e7 100%);
	background: -o-linear-gradient(top, #fbf6eb 0%, #ddcead 32%, #ddcead 71%, #f8f3e7 100%);
	background: -ms-linear-gradient(top, #fbf6eb 0%, #ddcead 32%, #ddcead 71%, #f8f3e7 100%);
	background: linear-gradient(to bottom, #fbf6eb 0%, #ddcead 32%, #ddcead 71%, #f8f3e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf6eb', endColorstr='#ddcead',GradientType=0 ) \0;
	border: 1px solid #afa27e;
}
.colorcoff {
	border-radius: 6px;
	background: #322c28;
	background: linear-gradient(to bottom, #504740 0%, #4e453f 32%, #342e2a 71%, #4e453f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#504740', endColorstr='#1c1a17',GradientType=0 ) \0;
	box-shadow:inset 0px 0px 30px #4e453f;
}
/* panel pattern */
.panelPattern {
	background: url(../images/patterns1.gif) repeat;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #cd9309;
	-webkit-box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.5);
}