/* gamelist_box_con */
.friendsrank_box{ width:520px; height:140px; margin:0 auto;}
/* Sample  abgne-yahoo-carousel */
.abgne-yahoo-carousel {
	width: 520px;
	height: 140px;
	position: relative;
}
.abgne-yahoo-carousel * { margin: 0; padding: 0;}
.abgne-yahoo-carousel ul, .abgne-yahoo-carousel li { list-style: none;}
.abgne-yahoo-carousel .page { position: absolute; top: 12px; right: 80px;}
.abgne-yahoo-carousel .btnt { position: absolute; top: 55px; height: 45px; width: 515px; left: 12px; border:none !important;}
.abgne-yahoo-carousel .btnt a { width: 12px; height: 24px; float: left; text-indent: -9999px;}
.abgne-yahoo-carousel .btnt a.prev { float:left;  background:url(../images/memberSkin.png) no-repeat -693px -325px;}
.abgne-yahoo-carousel .btnt a.next { float:right; background:url(../images/memberSkin.png) no-repeat -705px -325px;}
.abgne-yahoo-carousel .frame_rank {
	position: relative;
	overflow: hidden;
	width: 486px;	/* (li 的寬度 + li 的邊框寬度 * 2 ) * 一次要顯示的數量 + li 的右邊界 * (一次要顯示的數量 - 1) */
	height: 142px;
	left: 28px;
}
.abgne-yahoo-carousel ul { width: 99999px; position: absolute;}
.abgne-yahoo-carousel li {
	float: left;
	width: 489px;
	height: 142px;
	position: relative;	
}
.pic_rank {width: 118px;
height: 132px;
float: left;
margin-right: 3px;
display: block;
background: url(../images/friendsranking_bg.png);
text-align: center;
color: #e9e1bf;
font-size: 12px;
position: relative;
}
.pic_rank_no {width: 118px;
height: 132px;
float: left;
margin-right: 3px;
display: block;
background: url(../images/friendsranking_bg_no.png);
text-align: center;
color: #e9e1bf;
font-size: 12px;
position: relative;
}

.pic_rank .pic_pic2{width: 54px;
height: 54px;
/* float: right; */
/* right: 29px; */
/* position: absolute; */
display: block;
overflow: hidden;
margin: auto;
}
.pic_rank .pic_pic2 img{ width:54px; height:54px;}
.pic_rank .g_name{/* width: 100px; */
/* height: 30px; */
font-size: 15px;
font-weight: bold;
line-height: 20px;
text-align: center;
display: block;
line-height: 2;
}

.game_membername{
  color: #e9e1bf;
  font-size: 12px;
  text-align: center;
    letter-spacing: 0pt;

}
.game_membermoney{
color: #e9e1bf;
font-size: 12px;
line-height: initial;
  letter-spacing: 0pt;
text-align: center;
}

/* datetime-carousel */
.datetime-carousel {
	width: 100px;
	height: 30px;
	position: relative;
}
.datetime-carousel * { margin: 0; padding: 0;}
.datetime-carousel ul, .abgne-yahoo-carousel li { list-style: none;}
.datetime-carousel .page_date { position: absolute; top: 0px; right: 15px;}
.datetime-carousel .btnt_s { position: absolute; top: -2px; height: 25px; width: 80px; left: 5px; border:none !important;}
.datetime-carousel .btnt_s a { width: 12px; height: 24px; float: left; text-indent: -9999px;}
.datetime-carousel .btnt_s a.prev { float:left;  background:url(../images/memberSkin.png) no-repeat -693px -325px;}
.datetime-carousel .btnt_s a.next { float:right; background:url(../images/memberSkin.png) no-repeat -705px -325px;}
.datetime-carousel .datetime {
	position: relative;
	overflow: hidden;
	width: 60px;	/* (li 的寬度 + li 的邊框寬度 * 2 ) * 一次要顯示的數量 + li 的右邊界 * (一次要顯示的數量 - 1) */
	height: 30px;
	line-height:23px !important;
	text-align:center;
	color:#FFF;
	left: 15px;
}
.datetime-carousel ul { width: 99999px; position: absolute;}
.datetime-carousel li {
	float: left;
	width: 60px;
	height: 30px;
	line-height:23px !important;
	position: relative;	
}
.datetime-carousel li img{ vertical-align:middle; margin:-3px 3px 0 0;}